<!DOCTYPE html>
<html>
<head>
    <title>Zbiornik</title>
    <meta charset="utf-8">
    <style>
        * {
            box-sizing: border-box;
        }

        .btn {
            background-color: lightblue;
            padding: 14px 28px;
            font-size: 24px;
            font-weight: bolder;
            cursor: pointer;
            display: inline-block;

        }

        .btn:hover {background: dodgerblue;}

        .dodaj {color: black; float: left;}
        .usun {color: black; float: right;}
    </style>
    <title>Page Title</title>
</head>
<br>

<h1 style="text-align:center;">Automat regulujący pH w zbiorniku</h1>
<p>Stan zbiornika:</p>
<ul>
    <li>Ustalone pH: {{ container.aim_pH }}</li>
    <li>Ilość płynu w tej chwili: {{ container.V }}</li>
</ul>
<p>Substancja dodana przez użytkownika:</p>
<ul>
    <li>Ostatnio dodane: {{ substance }}</li>
    <li>Objętość dodanej substancji: {{ substance.V }}</li>
</ul>
<center>
<img src="{{ container.Plot.url }}" />
</center>

<br/>
<br/>
<a href="/add"><button class="btn dodaj">Dodaj substancję</button></a>
<a href="/del"><button class="btn usun" >Usuń zawartość zbiornika</button></a>
</body>
</html> 